---
import Base from "../layout/Base.astro";
---
<Base>
	<div class="intro">
		<div class="intro-info">
			<h2>Diego Alejandro Duran</h2>
			<span>FullStack Developer</span>
			<div class="links">
				<button id="github">
					<a href="https://github.com/fxckcode" class="link" target="_blank">
						<i class="link-icon fa-lg fab fa-github"></i>
					</a>
				</button>
				<button id="linkedin">
					<a href="https://www.linkedin.com/in/diego-alejandro-duran-001324257/" class="link" target="_blank">
						<i class="link-icon fa-lg fab fa-linkedin"></i>
					</a>
				</button>
				<button id="cv">
					<a href="" class="link">
						<i class="link-icon fa-lg fa-solid fa-file-lines"></i>
					</a>
				</button>
				<button id="email">
					<a href="mailto:alejandroduran076@gmail.com" class="link">
						<i class="link-icon fa-lg fa-solid fa-envelope"></i>
					</a>
				</button>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="content-info">
			<h2>Education</h2>
			<div class="education text-left">
				<h3 class="text-2xl">Humberto Muñoz Ordoñez</h3>
				<p class="text-gray-700 text-lg">High School Graduate | 2017  - 2022</p>
			</div>
			<div class="education text-left">
				<h3 class="text-2xl">Mision Tic</h3>
				<p class="text-gray-700 text-lg">FullStack Course | Feb 2021  - Dec 2021</p>
				<ul>
					<li>HTML | CSS | JS - PYTHON | DJANGO</li>
				</ul>
			</div>
			<div class="education text-left">
				<h3 class="text-2xl">SENA</h3>
				<p class="text-gray-700 text-lg">System Technique  | Feb 2021  - Dec 2022</p>
				<p class="text-gray-700 text-lg">Software Analysis and Development | Feb 2023  - Jun 2024</p>
				<ul>
					<li>HTML | CSS | JS - PHP | KOTLYN | PYTHON | SQL</li>
				</ul>
			</div>
			<h2>Projects</h2>
			<div class="education text-left">
				<h3 class="text-2xl">LinkCafé</h3>
				<p class="text-gray-700 text-lg">Professional Social Network for coffee growers.</p>
				<ul>
					<li>In which he specializes in the promotion of the application of good practices in cultivation and the possibility of commenting but with the variant that everything is based</li>
				</ul>
			</div>
			<div class="education text-left">
				<h3 class="text-2xl">NaranjaERP</h3>
				<p class="text-gray-700 text-lg">Accounting software for entrepreneurs</p>
			</div>
		</div>
	</div>
</Base>

<style lang="scss">
    .intro {
        @apply w-full bg-slate-900 h-96 text-white flex justify-center items-center text-center
	}

	.intro > .intro-info {
		@apply flex flex-col gap-4 w-full justify-center items-center
	}

	.intro > .intro-info > h2 {
		@apply text-3xl font-bold
	}

	.intro > .intro-info > span {
		@apply text-gray-500 text-center text-xl mb-8
	}

	.intro > .intro-info > .links {
		@apply flex gap-8 m-auto
	}

	.content {
		@apply w-full h-auto bg-gray-900 text-white
	}

	.content > .content-info {
		@apply lg:w-1/2 m-auto py-10 px-3 text-center text-gray-400 font-bold sm:text-3xl text-2xl tracking-wide flex flex-col gap-6
	}

	.content > .content-info > .education {
		@apply flex flex-col gap-2
	}

	.content > .content-info > .education > p {
		@apply text-sm lg:text-2xl
	}

	.content > .content-info > .education > ul {
		@apply lg:text-sm list-disc px-8 text-[12px]
	}

	.content > .content-info > .education > ul > li::marker {
		color: aqua;
	}
</style>