.intro {
    @apply w-full bg-slate-900 h-96 text-white flex justify-center items-center text-center;
    & > .intro-info {
        @apply flex flex-col gap-4 w-full justify-center items-center;
        & > h2 {
            @apply text-3xl font-bold;
        }
        & > span {
            @apply text-gray-500 text-center text-xl mb-8;
        }
        & > .links {
            @apply flex gap-8 m-auto;
        }
    }
}

.content {
    @apply w-full h-auto bg-gray-900 text-white;
    & > .content-info {
        @apply lg:w-1/2 m-auto py-10 px-3 text-center text-gray-400 font-bold sm:text-3xl text-2xl tracking-wide flex flex-col gap-6;
        & > .skills {
            @apply list-disc;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 20px;
            & > li {
                @apply flex gap-4 items-center;
                &::marker {
                    color: aqua;
                }
                & > p {
                    @apply text-left text-sm;
                }
                & > p:nth-child(1) {
                    width: 20%;
                }
                & > .wrapper {
                    width: 150px;
                    & > .progress-bar {
                        @apply w-full bg-white p-0.5 rounded;
                        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
                        & > .progress-bar-fill {
                            @apply block h-3 rounded;
                            background-color: #659cef;
                            transition: width 500ms ease-in-out;
                        }
                    }
                }
            }
        }
        & > .education {
            @apply flex flex-col gap-2;
            & > p {
                @apply text-sm lg:text-xl;
            }
            & > ul {
                @apply lg:text-sm list-disc px-8 text-[12px];
                & > li::marker {
                    color: aqua;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .content > .content-info {
        & > .skills {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin: 0 auto 20px auto;
            & > li {
                & > p:nth-child(1) {
                    width: 30%;
                }
            }
        }
    }
}