<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Duran</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</head>
<body>
    <slot />
</body>
<script>
    import tippy from "tippy.js";
    import 'tippy.js/dist/tippy.css';
    import 'tippy.js/themes/material.css'
    import 'tippy.js/animations/scale.css';

    tippy("#github", {
        content: "My Github :)",
        theme: "material",
        animation: "scale",
        animateFill: true,
    })

    tippy("#linkedin", {
        content: "My LinkedIn :0",
        theme: "material",
        animation: "scale",
        animateFill: true,
    })

    tippy("#cv", {
        content: "My CV ;D",
        theme: "material",
        animation: "scale",
        animateFill: true,
    })

    tippy("#email", {
        content: "Contact Me By Mail :=",
        theme: "material",
        animation: "scale",
        animateFill: true,
    })
</script>
</html>

<style lang="scss">
    *::-webkit-scrollbar {
        display: none;
    }

    * {
        font-family: "Poppins";
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 100vh;
    }
</style>